<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ourcoolapp.nsutresources">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ourcoolapp.nsutresources.Activity.ContestDetailsActivity"
            android:parentActivityName="com.ourcoolapp.nsutresources.Activity.CompetitiveProgrammingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.ourcoolapp.nsutresources.Activity.PdfActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ourcoolapp.nsutresources.Activity.DataResultActivity"
            android:parentActivityName="com.ourcoolapp.nsutresources.Activity.onNavItemsSelected" />
        <activity
            android:name="com.ourcoolapp.nsutresources.Activity.NoticesActivity"
            android:parentActivityName="com.ourcoolapp.nsutresources.Activity.MainActivity" />
        <activity
            android:name="com.ourcoolapp.nsutresources.Activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ourcoolapp.nsutresources.Activity.onNavItemsSelected"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ourcoolapp.nsutresources.Activity.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ourcoolapp.nsutresources.Activity.AboutDevelopersActivity"
            android:parentActivityName="com.ourcoolapp.nsutresources.Activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ourcoolapp.nsutresources.Activity.SyllabusActivity"
            android:parentActivityName="com.ourcoolapp.nsutresources.Activity.MainActivity"
            android:theme="@style/AppTheme" />

        <activity android:name="com.ourcoolapp.nsutresources.Activity.CompetitiveProgrammingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".Activity.MainActivity"/>
    </application>

</manifest>